/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.header
		font-size: 18px
		&-adress
			font-size: 16px
	.services__item h3
		font-size: 20px
	.partners-slide img
		max-width: 75%
	.footer
		font-size: 16px
	.footer-phone
		font-size: 24px
	.services-link
		max-width: 360px

// ≥992px
+media-breakpoint-down(md)
	.header
		height: 60px
		img
			width: 35px
	.mobile-btn
		margin-left: 1vw
		display: block
	.header__menu, .header__phone-link--text, .header-adress
		display: none
	.header__callback
		a
			background-color: transparent
			&:hover
				background-color: transparent
			span
				display: none 
		img
			display: block
	.header__phone-link img
		position: relative
		margin: 0
		top: auto
		transform: translateY(0)
	.header__menu
		display: block
		position: fixed
		max-width: 600px
		width: 100%
		height: 100vh
		right: -100%
		top: 0
		background-color: $accent
		z-index: 1
		transition: all .25s
		&.open
			right: 0
			box-shadow: 0 -10px 30px rgba(0,0,0,.5)
		ul
			flex-direction: column
			align-items: center
			justify-content: center
			width: 100%
			li
				height: auto
				display: block
				width: 100%
				margin-right: 0
				&.active
					a
						background-color: rgba(#fff, .3)		
				a
					width: 100%
					justify-content: center
					padding: 5px 0
					&:hover
						background-color: rgba(#fff, .3)
					&:before
						display: none
	.hero
		padding-top: 60px
	.hero__title
		width: 45%
	.services__item h3
		font-size: 16px
	.services__item-icon img
		height: 80px
	.services-link
		max-width: 100%
		height: 100%
		left: 0
		bottom: 0
		display: flex
		align-items: flex-end
		padding-bottom: 30px
	.services-link .first-word
		width: 90%
		font-weight: 600
	.services-link .first-word span
		font-size: 30px
	.footer
		background-size: cover
		background-position: center
		padding-bottom: 40px
	.footer-menu
		width: 40%
	.footer-location
		width: 55%
	.footer-contacts
		width: 50%
		align-items: flex-start
		text-align: left
	.footer__wrap
		> *
			margin-bottom: 5vmax
	.footer-contacts__links
		margin-bottom: 20px
		a
			display: block
	.social-link:first-child
		margin-left: 0
	.isnohome .hero__wrap .hero__title
		font-size: 18px
		padding-left: 5vmax
	.isnohome .hero__wrap
		padding: 0 5vmax
	.contacts__block
		padding-top: 60px
	.contacts__text
		font-size: 20px
		h1
			font-size: 45px
			margin-bottom: 0
			line-height: 1




// ≥768px
+media-breakpoint-down(sm)
	.hero__form
		display: none
	.hero__title
		width: 100%
	.hero
		min-height: 450px
	.services__item
		width: 50%
		margin-bottom: 30px
	.services-link-icon
		bottom: auto
		top: 15px
	.services-link .first-word
		font-size: 20px
	.services__slide-wrap:nth-child(even) .services__slide
		margin-left: 0
		margin-right: 0
	.services__slide
		margin-left: 0
		margin-right: 0
		width: 100%
		min-height: 400px
		height: auto
	.slick-dots
		bottom: -30px
	.partners-slide img
		max-width: 70%
	.slick-arrow svg
		width: 25px
	.footer__wrap
		> *
			width: 100%
			margin: 0
	.footer-menu ul li
		line-height: 2
	.footer .logo
		margin-bottom: 0
		padding-bottom: 15px
		margin-bottom: 15px
		display: block
		font-size: 30px
		position: relative
		z-index: 1
		&::after
			content: ''
			display: block
			background-image: url(../img/line-footer.svg)
			position: absolute
			left: 10px
			bottom: 0
			width: 230px
			height: 2px
			z-index: 1
	.footer-menu, .footer-location
		padding-bottom: 10px
		margin-bottom: 15px
		position: relative
		&::after
			content: ''
			display: block
			background-image: url(../img/line-footer.svg)
			position: absolute
			left: 0
			bottom: 0
			width: 230px
			height: 2px
			z-index: 1
	.footer-location
		padding-bottom: 18px
		margin-bottom: 8px
	.isnohome .hero
		min-height: 320px
		height: 320px
		margin-bottom: 260px
		&:after
			content: ''
			display: block
			width: 100%
			height: 100px
			position: absolute
			bottom: 0
			left: 0
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%)
			z-index: -1
		&:before
			display: none
	.isnohome.yellow-title h1
		text-align: center
		position: relative
		bottom: -105px
		left: 0
		font-size: 55px
		font-weight: normal
	.isnohome .hero__wrap .hero__title
		min-height: 260px
		height: auto
		width: 100%
		top: 320px
		background-color: $accent
	.content
		padding-top: 80px
		padding-bottom: 20px
		h1
			font-size: 30px
			line-height: 1.2
			margin-bottom: 20px
	.article-subtitle
		font-size: 18px
	.isnohome main
		padding-bottom: 20px
	.contacts__block
		flex-direction: column-reverse
	.contacts__text, .contacts__map
		width: 100%
	.contacts__text
		padding: 40px 20px
		.footer-phone
			font-size: inherit
	.contacts__map
		height: 350px
	.contacts__text h1, .contacts-links, .contacts-adress
		margin-bottom: 20px
		width: 100%
	
// ≥576px
+media-breakpoint-down(xs)
	section
		padding: 50px 0
		h2
			font-size: 20px
			margin-bottom: 15px
	.header__phone-link img
		margin-right: 5px
	.header
		img
			max-width: 20px
	.header__info
		width: 42%
		justify-content: flex-end
	.logo
		font-size: 18px
	.mobile-btn span
		width: 20px
	.hero .first-word span
		font-size: 40px
	.hero__title
		font-size: 16px
	.services__item-icon img
		height: 72px
	.services__item h3
		font-size: 14px
		&:after
			bottom: -5px
	.services-link
		padding-bottom: 50px
	.services__slider-wrap .container
		padding: 0
	.services-link .first-word
		font-size: 18px
	.partners-slide img
		max-width: 90%
	.footer
		font-size: 15px
		padding: 25px 0 40px
	.footer .logo
		font-size: 20px
		color: #b0b0b0
		padding-bottom: 10px
		&:hover
			color: #fff
			&:before
				display: none
		&:focus:before
			display: none
	.footer-location__map
		display: none
	.footer-location__adress
		line-height: 1.6
	.footer-phone
		font-size: 16px
		font-weight: normal
	.footer-contacts__links a
		line-height: 1.8
	.isnohome.yellow-title h1
		font-size: 28px
	.isnohome .hero__wrap .hero__title
		font-size: 15px
		min-height: 280px
		height: auto


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
