<div class="hero" id="hero" style="background-image: url(img/hero-bg.svg);">
	<div class="container">
		<div class="hero__wrap">
			<span class="hero__title first-word">
				Мы работаем с 2015 года. Этот срок может показаться не слишком внушительным, но тем не менее, за это время мы успели получить репутацию надежного партнера и завоевать доверие большого количества постоянных клиентов, число которых постоянно растет.
			</span>
			<!-- /.hero__title -->
			<div class="hero__form form-block">
				<h4>Хотите узнать о снижении цен и о максимальных скидках?</h4>
				<p>Оставьте свой номер телефона,  и наш менеджер перезвонит Вам</p>
				<form>
					<input type="text" placeholder="Ваше имя*" required>
					<input type="tel" placeholder="+7 (999) 999-99-99" required>
					<input type="submit" class="btn" value="Отправить">
				</form>
				<span class="policy-text">Нажимая на кнопку действия,  я даю согласие на <a href="#">обработку персональных данных</a></span>
			</div>
			<!-- /.hero__form -->
		</div>
		<!-- /.hero__wrap -->
	</div>
	<!-- /.container -->
</div>
	<!-- /#hero.hero -->