<footer class="footer" id="footer">
	<div class="container">
		<div class="footer-row">
			<a href="https://newstreetpunk.github.io/dubinkina/" class="logo">Дубинкина Е.Ю.</a>
		</div>
		<div class="footer__wrap">

			<nav class="footer-menu">
				<ul>
					<li><a href="#">Реклама</a></li>
					<li><a href="#">Продвижение</a></li>
					<li><a href="#">Спецтехника</a></li>
					<li><a href="#">Траспортировка серы</a></li>
					<li><a href="#">О компании</a></li>
				</ul>
			</nav>
			<!-- /.footer-menu -->

			<div class="footer-location location">
				<span class="footer-location__adress">
					Россия, Самара, 443017, Заводское шоссе, 13А
				</span>
				<div class="footer-location__map" style="background-image: url(img/map.jpg);">
					<div class="loader loader-default"></div>
					<div id="map-yandex"></div>
				</div>
			</div>
			<!-- /.footer-location location -->

			<div class="footer-contacts">
				<div class="footer-contacts__links">
					<a href="#" class="footer-phone">+7 960 821 02 05</a>
					<a href="#" class="footer-email">dubinkinaelen@yandex.ru</a>
				</div>

				<div class="social social-list">
					<a href="#" class="social-link" target="_blank">
						<img src="img/icons/insta.svg" alt="ALT">
					</a>
					<a href="#" class="social-link" target="_blank">
						<img src="img/icons/vk.svg" alt="ALT">
					</a>
					<a href="#" class="social-link" target="_blank">
						<img src="img/icons/fb.svg" alt="ALT">
					</a>
				</div>
				<!-- /.social-list -->
			</div>
			<!-- /.footer-contacts -->

		</div>
		<!-- /.footer__wrap -->
	</div>
	<!-- /.container -->
</footer>
<!-- /#footer.footer -->

<div class="mfp-hide white-popup-block callback-form" id="callback-form">
	<h4>Заказ обратного звонка</h4>
	<p>Оставьте свой номер телефона,  и наш менеджер перезвонит Вам</p>
	<form>
		<input type="text" placeholder="Ваше имя*" required>
		<input type="tel" placeholder="+7 (999) 999-99-99*" required>
		<input type="submit" class="btn" value="Отправить">
	</form>
	<span class="policy-text">Нажимая на кнопку действия,  я даю согласие на <a href="#">обработку персональных данных</a></span>
</div>