<footer class="footer" id="footer">
	<div class="container">
		<div class="footer-row">
			<a href="/" class="logo">{{ site.title }}</a>
		</div>
		<div class="footer__wrap">

			<nav class="footer-menu">
				<ul>
					{%- assign services = site.services -%}
					{% for serv in services %}
					<li><a href="{{serv.url}}">{{serv.title}}</a></li>
					{% endfor %}
					<li><a href="/about/">О компании</a></li>
				</ul>
			</nav>
			<!-- /.footer-menu -->

			<div class="footer-location location">
				<span class="footer-location__adress">
					{{ site.address }}
				</span>
				<div class="footer-location__map" style="background-image: url({{ 'img/map.jpg' | relative_url }});">
					<div class="loader loader-default"></div>
					<div id="map-yandex"></div>
				</div>
			</div>
			<!-- /.footer-location location -->

			<div class="footer-contacts">
				<div class="footer-contacts__links">
					<a href="tel:{{ site.phone | remove: ' ' }}" class="footer-phone">{{ site.phone }}</a>
					<a href="mailto:{{ site.email }}" class="footer-email">{{ site.email }}</a>
				</div>

				{%- include components/social-list.html -%}

			</div>
			<!-- /.footer-contacts -->

		</div>
		<!-- /.footer__wrap -->
	</div>
	<!-- /.container -->
</footer>

<div class="mfp-hide white-popup-block callback-form" id="callback-form">
	<h4>Заказ обратного звонка</h4>
	<p>Оставьте свой номер телефона, и наш менеджер перезвонит Вам</p>
	<form>
		<input type="text" placeholder="Ваше имя*" name="Имя" required>
		<input type="tel" placeholder="+7 (999) 999-99-99" name="Телефон" required>
		<button type="submit" class="btn">Отправить</button>
	</form>
	<span class="policy-text">Нажимая на кнопку действия, я даю согласие на <a href="/privacy-policy/">обработку персональных данных</a></span>
</div>
<div class="thanks modal mfp-hide white-popup-block">
    <h2>Спасибо!</h2>
    <p>Ваше сообщение успешно отправлено!<br>В скором времени мы свяжемся с Вами!</p>
</div>
<div class="error modal mfp-hide white-popup-block">
    <h2>Ошибка!</h2>
    <div>
        Мы не уверены что сообщение доставлено!<br>Попробуйте обновить страницу!<br>
        <span class="error-message"></span><br>
        Или позвоните нам, чтобы подтвердить заявку<br>
        <div class="rand">
            <div>
                <a href="tel:{{ site.phone | remove: ' ' }}">{{ site.phone | escape }}</a>
            </div>
        </div>
    </div>
</div>