<header class="header" id="header">
	<div class="header__wrap">

		{%- include components/header-menu.html -%}

		<a href="/" class="logo">{{ site.title }}</a>

		<div class="header__info">
			
			<div class="header__phone">
				<a href="tel:{{ site.phone | remove: ' ' }}" class="header__phone-link">
					<img src="{{ '/img/icons/phone.svg' | relative_url }}" alt="Icon">
					<span class="header__phone-link--text">{{ site.phone }}</span>
				</a>
				<span class="header-adress"><small>{{ site.address | remove: 'Россия, Самара, 443017, '}}</small></span>
			</div>
			<!-- /.header__phone -->
			
			<div class="header__callback">
				<a href="#callback-form" class="btn btn-callback"><img src="{{ '/img/icons/mail.svg' | relative_url }}" alt="Mail Icon" width="35" height="35"><span>Обратная связь</span></a>
			</div>
			<!-- /.header__callback -->
			
			<button class="mobile-btn"><span></span><span></span><span></span></button>
		</div>
		<!-- /.header__info -->
	</div>
</header>