---
layout: default
---

<section class="services" id="services">
	<div class="container">

		<div class="services__wrap">

			<a href="#" class="services__item">
				<div class="services__item-icon">
					<img src="img/icons/icon-reklama.svg" alt="Реклама">
				</div>
				<h3 class="line-gr">Реклама</h3>
			</a>
			<!-- /.services__item -->

			<a href="#" class="services__item">
				<div class="services__item-icon">
					<img src="img/icons/icon-prodvijenie.svg" alt="Продвижение">
				</div>
				<h3 class="line-gr">Продвижение</h3>
			</a>
			<!-- /.services__item -->

			<a href="#" class="services__item">
				<div class="services__item-icon">
					<img src="img/icons/icon-spectehnika.svg" alt="Спецуслуги">
				</div>
				<h3 class="line-gr">Спецуслуги</h3>
			</a>
			<!-- /.services__item -->

			<a href="#" class="services__item">
				<div class="services__item-icon">
					<img src="img/icons/icon-sera.svg" alt="ранспортировка серы">
				</div>
				<h3 class="line-gr">Транспортировка серы</h3>
			</a>
			<!-- /.services__item -->			

		</div>
		<!-- /.services__wrap -->

	</div>
	<!-- /.container -->

	<div class="services__slider-wrap">
		<div class="container">
			<div class="services__slider">

				<div class="services__slide-wrap">
					<div class="services__slide" style="background-image: url(img/2.jpg);">
						<a href="#" class="services-link">
							<span class="first-word">Виды рекламной продукции.Мы работаем с 2015 года. Этот срок может показаться не слишком внушительным, но тем не менее, за это время мы</span>
							<span class="services-link-icon">
								<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								viewBox="0 0 512 512" xml:space="preserve">
								<path d="M508.875,248.458l-160-160c-3.063-3.042-7.615-3.969-11.625-2.313c-3.99,1.646-6.583,5.542-6.583,9.854v21.333	c0,2.833,1.125,5.542,3.125,7.542l109.792,109.792H10.667C4.771,234.667,0,239.437,0,245.333v21.333
								c0,5.896,4.771,10.667,10.667,10.667h432.917L333.792,387.125c-2,2-3.125,4.708-3.125,7.542V416c0,4.313,2.594,8.208,6.583,9.854
								c1.323,0.552,2.708,0.813,4.083,0.813c2.771,0,5.5-1.083,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z"/>
							</svg>
						</span>
					</a>
				</div>
				<!-- /.services__slide -->
			</div>
			<!-- /.services__slide-wrap -->

			<div class="services__slide-wrap">
				<div class="services__slide" style="background-image: url(img/1.jpg);">
					<a href="#" class="services-link">
						<span class="first-word"> В процессе своей работы мы придерживаемся следующих норм и правил: - ответственность - скорость и качество выполнения заказов</span>
						<span class="services-link-icon">
							<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 512 512" xml:space="preserve">
							<path d="M508.875,248.458l-160-160c-3.063-3.042-7.615-3.969-11.625-2.313c-3.99,1.646-6.583,5.542-6.583,9.854v21.333	c0,2.833,1.125,5.542,3.125,7.542l109.792,109.792H10.667C4.771,234.667,0,239.437,0,245.333v21.333
							c0,5.896,4.771,10.667,10.667,10.667h432.917L333.792,387.125c-2,2-3.125,4.708-3.125,7.542V416c0,4.313,2.594,8.208,6.583,9.854
							c1.323,0.552,2.708,0.813,4.083,0.813c2.771,0,5.5-1.083,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z"/>
						</svg>
					</span>
				</a>
			</div>
			<!-- /.services__slide -->
		</div>
		<!-- /.services__slide-wrap -->

		<div class="services__slide-wrap">
			<div class="services__slide" style="background-image: url(img/2.jpg);">
				<a href="#" class="services-link">
					<span class="first-word">Виды рекламной продукции.Мы работаем с 2015 года. Этот срок может показаться не слишком внушительным, но тем не менее, за это время мы</span>
					<span class="services-link-icon">
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 512 512" xml:space="preserve">
						<path d="M508.875,248.458l-160-160c-3.063-3.042-7.615-3.969-11.625-2.313c-3.99,1.646-6.583,5.542-6.583,9.854v21.333	c0,2.833,1.125,5.542,3.125,7.542l109.792,109.792H10.667C4.771,234.667,0,239.437,0,245.333v21.333
						c0,5.896,4.771,10.667,10.667,10.667h432.917L333.792,387.125c-2,2-3.125,4.708-3.125,7.542V416c0,4.313,2.594,8.208,6.583,9.854
						c1.323,0.552,2.708,0.813,4.083,0.813c2.771,0,5.5-1.083,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z"/>
					</svg>
				</span>
			</a>
		</div>
		<!-- /.services__slide -->
	</div>
	<!-- /.services__slide-wrap -->

	<div class="services__slide-wrap">
		<div class="services__slide" style="background-image: url(img/1.jpg);">
			<a href="#" class="services-link">
				<span class="first-word"> В процессе своей работы мы придерживаемся следующих норм и правил: - ответственность - скорость и качество выполнения заказов</span>
				<span class="services-link-icon">
					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					viewBox="0 0 512 512" xml:space="preserve">
					<path d="M508.875,248.458l-160-160c-3.063-3.042-7.615-3.969-11.625-2.313c-3.99,1.646-6.583,5.542-6.583,9.854v21.333	c0,2.833,1.125,5.542,3.125,7.542l109.792,109.792H10.667C4.771,234.667,0,239.437,0,245.333v21.333
					c0,5.896,4.771,10.667,10.667,10.667h432.917L333.792,387.125c-2,2-3.125,4.708-3.125,7.542V416c0,4.313,2.594,8.208,6.583,9.854
					c1.323,0.552,2.708,0.813,4.083,0.813c2.771,0,5.5-1.083,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z"/>
				</svg>
			</span>
		</a>
	</div>
	<!-- /.services__slide -->
</div>
<!-- /.services__slide-wrap -->

<div class="services__slide-wrap">
	<div class="services__slide" style="background-image: url(img/2.jpg);">
		<a href="#" class="services-link">
			<span class="first-word">Виды рекламной продукции.Мы работаем с 2015 года. Этот срок может показаться не слишком внушительным, но тем не менее, за это время мы</span>
			<span class="services-link-icon">
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 512 512" xml:space="preserve">
				<path d="M508.875,248.458l-160-160c-3.063-3.042-7.615-3.969-11.625-2.313c-3.99,1.646-6.583,5.542-6.583,9.854v21.333	c0,2.833,1.125,5.542,3.125,7.542l109.792,109.792H10.667C4.771,234.667,0,239.437,0,245.333v21.333
				c0,5.896,4.771,10.667,10.667,10.667h432.917L333.792,387.125c-2,2-3.125,4.708-3.125,7.542V416c0,4.313,2.594,8.208,6.583,9.854
				c1.323,0.552,2.708,0.813,4.083,0.813c2.771,0,5.5-1.083,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z"/>
			</svg>
		</span>
	</a>
</div>
<!-- /.services__slide -->
</div>
<!-- /.services__slide-wrap -->

<div class="services__slide-wrap">
	<div class="services__slide" style="background-image: url(img/1.jpg);">
		<a href="#" class="services-link">
			<span class="first-word"> В процессе своей работы мы придерживаемся следующих норм и правил: - ответственность - скорость и качество выполнения заказов</span>
			<span class="services-link-icon">
				<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 512 512" xml:space="preserve">
				<path d="M508.875,248.458l-160-160c-3.063-3.042-7.615-3.969-11.625-2.313c-3.99,1.646-6.583,5.542-6.583,9.854v21.333	c0,2.833,1.125,5.542,3.125,7.542l109.792,109.792H10.667C4.771,234.667,0,239.437,0,245.333v21.333
				c0,5.896,4.771,10.667,10.667,10.667h432.917L333.792,387.125c-2,2-3.125,4.708-3.125,7.542V416c0,4.313,2.594,8.208,6.583,9.854
				c1.323,0.552,2.708,0.813,4.083,0.813c2.771,0,5.5-1.083,7.542-3.125l160-160C513.042,259.375,513.042,252.625,508.875,248.458z"/>
			</svg>
		</span>
	</a>
</div>
<!-- /.services__slide -->
</div>
<!-- /.services__slide-wrap -->

</div>
<!-- /.services__slider -->
</div>
<!-- /.container -->
</div>
<!-- /.services__slider-wrap -->

</section>
<!-- /#services.services -->

<section class="partners" id="partners">
	<div class="container">
		<h2>Парнеры</h2>

		<div class="partners-slider">
			<div class="partners-slide">
				<img src="img/partners/1.png" alt="ALT">
			</div>
			<!-- /.partners-slide -->
			<div class="partners-slide">
				<img src="img/partners/2.png" alt="ALT">
			</div>
			<!-- /.partners-slide -->
			<div class="partners-slide">
				<img src="img/partners/3.png" alt="ALT">
			</div>
			<!-- /.partners-slide -->
			<div class="partners-slide">
				<img src="img/partners/4.png" alt="ALT">
			</div>
			<!-- /.partners-slide -->
			<div class="partners-slide">
				<img src="img/partners/1.png" alt="ALT">
			</div>
			<!-- /.partners-slide -->
			<div class="partners-slide">
				<img src="img/partners/2.png" alt="ALT">
			</div>
			<!-- /.partners-slide -->
			<div class="partners-slide">
				<img src="img/partners/3.png" alt="ALT">
			</div>
			<!-- /.partners-slide -->
			<div class="partners-slide">
				<img src="img/partners/4.png" alt="ALT">
			</div>
			<!-- /.partners-slide -->
		</div>
		<!-- /.partners-slider -->

	</div>
	<!-- /.container -->
</section>
<!-- /#partners.partners -->
